name: Update Data From LFX
on:
  issues:
    types:
      - "labeled"
      - "unlabeled"
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: jmertic/lfx-tac-actions@017255be6cd280a0904785e700799b8f9b4288b5 ## v20241116
        with:
          landscape_url: https://lfenergy.landscape2.io
          artwork_url: https://artwork.lfenergy.org
          lfx_tac_committee_url: https://projectadmin.lfx.linuxfoundation.org/project/a094100001Cb6HaAAJ/collaboration/committees/45a1d03a-608d-48e4-9bd4-ffc94edda0b7
          tac_agenda_gh_project_url: https://github.com/orgs/lf-energy/projects/2
        env:
          token: ${{ secrets.PAT }} 
          repository: ${{ github.repository }}
          ref: ${{ github.ref }}
